@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

body {
    background: #1d2021;
    text-align: center;
    margin: 0;
    padding-bottom: 32px;
}
.section {
    margin-top: 48px;
}
.about {
    margin-top: 16px;
}
.text {
    margin: 0;
    color: #fbf1c7;
    font-family: 'Fira Code', monospace;
}
.hello {
    color: #fbf1c7;
    font-family: 'Fira Code', monospace;
    margin-block: 24px;
}
.experience {
    margin-top: 64px;
}
.contactItem {
    display: inline;
    margin-inline: 16px;
}
.list {
    list-style-type: lower-roman;
    list-style-position: inside;
}